<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="ApiKey" value="Your_API_Key"/>
		<add key="ApiUrl" value="Your_Api_Url"/>
		<add key="Model" value="Your_Model"/>
	</appSettings>

	<connectionStrings>
        <add name="LibraryDB"
            connectionString="Your_Connection_String"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>